igradiski_aplikacija_4_webModul/src/wsdl/localhost_8084/igradiski_web_modul_1/aplikacija_2_SOAP.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serveri.web.igradiski.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serveri.web.igradiski.nwtis.foi.org/" name="aplikacija_2_SOAP">
<types>
<xsd:schema>
<xsd:import namespace="http://serveri.web.igradiski.nwtis.foi.org/" schemaLocation="http://localhost:8084/igradiski_web_modul_1/aplikacija_2_SOAP?xsd=1"/>
</xsd:schema>
</types>
<message name="popisVlastitihAerodromaUGranicama">
<part name="parameters" element="tns:popisVlastitihAerodromaUGranicama"/>
</message>
<message name="popisVlastitihAerodromaUGranicamaResponse">
<part name="parameters" element="tns:popisVlastitihAerodromaUGranicamaResponse"/>
</message>
<message name="popisAerodromaPoDrzavi">
<part name="parameters" element="tns:popisAerodromaPoDrzavi"/>
</message>
<message name="popisAerodromaPoDrzaviResponse">
<part name="parameters" element="tns:popisAerodromaPoDrzaviResponse"/>
</message>
<message name="StvoriZapisDnevnik">
<part name="parameters" element="tns:StvoriZapisDnevnik"/>
</message>
<message name="StvoriZapisDnevnikResponse">
<part name="parameters" element="tns:StvoriZapisDnevnikResponse"/>
</message>
<message name="popisVlastitihAerodroma">
<part name="parameters" element="tns:popisVlastitihAerodroma"/>
</message>
<message name="popisVlastitihAerodromaResponse">
<part name="parameters" element="tns:popisVlastitihAerodromaResponse"/>
</message>
<message name="popisLetovaInterval">
<part name="parameters" element="tns:popisLetovaInterval"/>
</message>
<message name="popisLetovaIntervalResponse">
<part name="parameters" element="tns:popisLetovaIntervalResponse"/>
</message>
<message name="udaljenostIzmeduDvaAerodroma">
<part name="parameters" element="tns:udaljenostIzmeduDvaAerodroma"/>
</message>
<message name="udaljenostIzmeduDvaAerodromaResponse">
<part name="parameters" element="tns:udaljenostIzmeduDvaAerodromaResponse"/>
</message>
<message name="popisAerodromaPoNazivu">
<part name="parameters" element="tns:popisAerodromaPoNazivu"/>
</message>
<message name="popisAerodromaPoNazivuResponse">
<part name="parameters" element="tns:popisAerodromaPoNazivuResponse"/>
</message>
<message name="popisLetovaAvionInterval">
<part name="parameters" element="tns:popisLetovaAvionInterval"/>
</message>
<message name="popisLetovaAvionIntervalResponse">
<part name="parameters" element="tns:popisLetovaAvionIntervalResponse"/>
</message>
<portType name="aplikacija_2_SOAP">
<operation name="popisVlastitihAerodromaUGranicama">
<input wsam:Action="http://serveri.web.igradiski.nwtis.foi.org/aplikacija_2_SOAP/popisVlastitihAerodromaUGranicamaRequest" message="tns:popisVlastitihAerodromaUGranicama"/>
<output wsam:Action="http://serveri.web.igradiski.nwtis.foi.org/aplikacija_2_SOAP/popisVlastitihAerodromaUGranicamaResponse" message="tns:popisVlastitihAerodromaUGranicamaResponse"/>
</operation>
<operation name="popisAerodromaPoDrzavi">
<input wsam:Action="http://serveri.web.igradiski.nwtis.foi.org/aplikacija_2_SOAP/popisAerodromaPoDrzaviRequest" message="tns:popisAerodromaPoDrzavi"/>
<output wsam:Action="http://serveri.web.igradiski.nwtis.foi.org/aplikacija_2_SOAP/popisAerodromaPoDrzaviResponse" message="tns:popisAerodromaPoDrzaviResponse"/>
</operation>
<operation name="StvoriZapisDnevnik">
<input wsam:Action="http://serveri.web.igradiski.nwtis.foi.org/aplikacija_2_SOAP/StvoriZapisDnevnikRequest" message="tns:StvoriZapisDnevnik"/>
<output wsam:Action="http://serveri.web.igradiski.nwtis.foi.org/aplikacija_2_SOAP/StvoriZapisDnevnikResponse" message="tns:StvoriZapisDnevnikResponse"/>
</operation>
<operation name="popisVlastitihAerodroma">
<input wsam:Action="http://serveri.web.igradiski.nwtis.foi.org/aplikacija_2_SOAP/popisVlastitihAerodromaRequest" message="tns:popisVlastitihAerodroma"/>
<output wsam:Action="http://serveri.web.igradiski.nwtis.foi.org/aplikacija_2_SOAP/popisVlastitihAerodromaResponse" message="tns:popisVlastitihAerodromaResponse"/>
</operation>
<operation name="popisLetovaInterval">
<input wsam:Action="http://serveri.web.igradiski.nwtis.foi.org/aplikacija_2_SOAP/popisLetovaIntervalRequest" message="tns:popisLetovaInterval"/>
<output wsam:Action="http://serveri.web.igradiski.nwtis.foi.org/aplikacija_2_SOAP/popisLetovaIntervalResponse" message="tns:popisLetovaIntervalResponse"/>
</operation>
<operation name="udaljenostIzmeduDvaAerodroma">
<input wsam:Action="http://serveri.web.igradiski.nwtis.foi.org/aplikacija_2_SOAP/udaljenostIzmeduDvaAerodromaRequest" message="tns:udaljenostIzmeduDvaAerodroma"/>
<output wsam:Action="http://serveri.web.igradiski.nwtis.foi.org/aplikacija_2_SOAP/udaljenostIzmeduDvaAerodromaResponse" message="tns:udaljenostIzmeduDvaAerodromaResponse"/>
</operation>
<operation name="popisAerodromaPoNazivu">
<input wsam:Action="http://serveri.web.igradiski.nwtis.foi.org/aplikacija_2_SOAP/popisAerodromaPoNazivuRequest" message="tns:popisAerodromaPoNazivu"/>
<output wsam:Action="http://serveri.web.igradiski.nwtis.foi.org/aplikacija_2_SOAP/popisAerodromaPoNazivuResponse" message="tns:popisAerodromaPoNazivuResponse"/>
</operation>
<operation name="popisLetovaAvionInterval">
<input wsam:Action="http://serveri.web.igradiski.nwtis.foi.org/aplikacija_2_SOAP/popisLetovaAvionIntervalRequest" message="tns:popisLetovaAvionInterval"/>
<output wsam:Action="http://serveri.web.igradiski.nwtis.foi.org/aplikacija_2_SOAP/popisLetovaAvionIntervalResponse" message="tns:popisLetovaAvionIntervalResponse"/>
</operation>
</portType>
<binding name="aplikacija_2_SOAPPortBinding" type="tns:aplikacija_2_SOAP">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="popisVlastitihAerodromaUGranicama">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="popisAerodromaPoDrzavi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="StvoriZapisDnevnik">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="popisVlastitihAerodroma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="popisLetovaInterval">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="udaljenostIzmeduDvaAerodroma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="popisAerodromaPoNazivu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="popisLetovaAvionInterval">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="aplikacija_2_SOAP">
<port name="aplikacija_2_SOAPPort" binding="tns:aplikacija_2_SOAPPortBinding">
<soap:address location="http://localhost:8084/igradiski_web_modul_1/aplikacija_2_SOAP"/>
</port>
</service>
</definitions>